.createqhead {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
    border: none;
}

.createqhead h1 {
    font-size: 20px;
    font-family: montserrat;
    font-weight: 500;
}

.previewbtn {
    width: 100px;
    height: 30px;
    margin-right: 15px;
    background-color: white;
    border: 1px solid #278DF1;
    color: #278DF1;
    border-radius: 2px;
    margin-top: 11px;
    cursor: pointer;
}

.savebtn {
    width: 100px;
    height: 30px;
    background-color: #278DF1;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.savebtn:disabled {
    opacity: 0.5;
}

.previewbtn:disabled {
    opacity: 0.5;
}

.queshead {
    display: flex;
    width: 400px;
}

.back {
    margin-top: 18px;
    cursor: pointer;
}

.queshead h1 {
    margin-left: 17px;
}
.main {
    margin-left: 250px;
    margin-right: 250px;
    font-family: montserrat;
    background-color: #F4F8FD;
    border: none;
    margin-top: 20px;
    height: 130px;
}

.mainn {
    font-family: montserrat;
    background-color: #F4F8FD;
    border: none;
    margin-top: 20px;
    height: 130px;
}

.main h1 {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 60px;
}


.quein {
    width: 400px;
    height: 25px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
}

.quein input {
    width: 300px;
    height: 25px;
    background-color: white;
    border: none;
}

.quediv {
    display: flex;
}

.radio {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.option input {
    border: none;
    background-color: #F4F8FD;
}

.option {
    font-family: montseratt;
    font-size: 14px;
}

.option input::placeholder {
    color: rgb(196, 196, 196);
}

#addque {
    margin-left: 45%;
    margin-top: 20px;
    border: none;
    background-color: #8C95AF;
    height: 30px;
    width: 100px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}